﻿@{
    //ViewData["Title"] = "Parts and Info";
}
@model IEnumerable<PartsAndLocation>



<body>
    <div class="label-container">
        <div class="data-entry-left">
            <div class="label-entry">
                <form asp-controller="Home" asp-action="PartsDB">
                    <label>Part Number:<br /><input type="text" name="searchNum" placeholder="Enter Part Number" autofocus /></label>  <br />
                    <button class="submit_button " type="submit">Search Part</button><br />
                </form>
            </div>

        </div>
        <div class="data-table">
            <table class="part-table">
                <thead>
                    <tr>
                        <th style="margin-right:10px;">Material</th>
                        <th style="margin-right:10px;">Description</th>
                        <th style="margin-right:10px;">Bin</th>
                        <th style="margin-right:10px;">Plant</th>
                        <th style="margin-right:10px;">SLOC</th>
                        <th style="margin-right:10px;">QTY On Hand</th>
                        <th style="margin-right:10px;">ABC</th>
                        <th style="margin-right:10px;">Cost</th>
                        <th style="margin-right:10px;">Last Count</th>
                    </tr>
                </thead>
                <tbody>
                        @if (Model == null)
                        {
                         <tr>
                            <td>Material</td>
                            <td>Description</td>
                            <td>Bin</td>
                            <td>Plant</td>
                            <td>Sloc</td>
                            <td>Qty</td>
                            <td>Abc</td>
                            <td>Cost</td>
                            <td>LastCount</td>
                        </tr>
                        }
                        
                        else 

                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="td">@item.Material</td>
                                <td class="td">@item.Description</td>
                                <td class="td">@item.Bin</td>
                                <td class="td">@item.Plant</td>
                                <td class="td">@item.Sloc</td>
                                <td class="td">@item.Qty</td>
                                <td class="td">@item.Abc</td>
                                <td class="td">$@item.Cost </td>
                                <td class="td">@item.LastCount</td>
                            </tr>
                        }
                    
                </tbody>
            </table>
        </div>
    </div>
</body>